{% extends 'base.html' %}
	
{% block styles %}
	<link rel="stylesheet" href="/static/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css">
	<!-- Data Table-->
	<link rel="stylesheet" type="text/css" href="/static/assets/vendor_components/datatable/datatables.min.css"/>
	<!-- Bootstrap extend-->
	<link rel="stylesheet" href="/static/css/bootstrap-extend.css">
	
	<!--alerts CSS -->
    <link href="/static/assets/vendor_components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
	<!-- Theme style -->
	<link rel="stylesheet" href="/static/css/master_style.css">

	<!-- UltimatePro Admin skins -->
	<link rel="stylesheet" href="/static/css/skins/_all-skins.css">
	<link rel="stylesheet" href="/static/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css">
	<link rel="stylesheet" href="/static/assets/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">

{% endblock %}

{% block content %}
  <div class="content-wrapper">
	  <div class="container">
		<!-- Content Header (Page header) -->	  

		<!-- Main content -->
		<section class="content">

		 <!-- Step wizard -->
		  <div class="box box-default">
			<div class="box-header with-border">
			{% if campid=="0" %} 
			  <h4 class="box-title">Create new Campaign</h4>
			{% else %}
				<h4 class="box-title">Edit Campaign - {{campid}}</h4>
			{% endif %}
			</div>
			<!-- /.box-header -->
			<div class="box-body wizard-content" id="loader_placer">
				<div class="loader" id="loader_div"></div>
				<form id="campaign_form" style="display: none;" method="post" class="tab-wizard wizard-circle">
					<h6>Campaign Basic Info</h6>
					<section>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="CampaignName">Campaign Name :</label>
									<input required type="text" class="form-control" id="CampaignName" name="CampaignName">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="CampaignDesc">Campaign Description :</label>
									<input required type="text" class="form-control" id="CampaignDesc" name="CampaignDesc"> </div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="CampaignGroup">Campaign Group :</label>
									<select required class="selectpicker custom-select form-control" id="CampaignGroup" name="CampaignGroup">
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="CampaignScheduledTime">Campaign Scheduled at</label>
									<div class="c-inputs-stacked" >
										<input required class="form-control" id="CampaignScheduledTime" name="CampaignScheduledTime" type="datetime-local">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="TargetSelectionMode">Target Selection Criteria :</label>
									<div class="c-inputs-stacked" >
										<select required class="selectpicker custom-select form-control" id="TargetSelectionMode" name="TargetSelectionMode">
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row" id="DivTargetGroup">
							<div class="col-md-12">
								<div class="form-group">
									<label for="TargetGroup">Target Group :</label>
									<select required class="selectpicker custom-select form-control" id="TargetGroup" name="TargetGroup">
									</select>
								</div>
							</div>
						</div>
					</section>
					<!-- Step 2 -->
					<h6>Campaign Channels</h6>
					<section>
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label>Target Channels :</label>
									<div class="demo-checkbox" id="channels_checkbox">
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- Step 3 -->
					<h6>Campaign Media</h6>
					<section>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Media :</label>
									<div class="nav nav-tabs" role="tablist">
										<div class="c-inputs-stacked">
											<input required data-target="#upload_image" name="CampaignMedia" type="radio" id="campaign-media-images" value="Images">
											<label for="campaign-media-images" class="block">Images</label>
											<input required data-target="#upload_va" name="CampaignMedia" type="radio" id="campaign-media-vid" value="Video/Audio">
											<label for="campaign-media-vid" class="block">Video / Audio</label>
											<input required data-target="#upload_doc" name="CampaignMedia" type="radio" id="campaign-media-doc" value="Document">
											<label for="campaign-media-doc" class="block">Documents(pdf / docs / ppts / excel)</label>
											<input required data-target="#upload_text" name="CampaignMedia" type="radio" id="campaign-media-text" value="Text">
											<label for="campaign-media-text" class="block">Text</label>
										</div>
									</div>
									<div class="tab-content" style="margin-top: 10px;">
									    <div id="upload_image" class="tab-pane">
									    	<div class="col-lg-10">
												<div class="custom-file">
													<input  accept=".gif,.jpg,.jpeg,.png" type="file" class="custom-file-input media" id="campaign_media_Images" name="campaign_media_Images">
													<label class="custom-file-label" for="campaign_media_Images">Choose Image</label>
												</div>
											</div>
											<div id="ErrorImagesSize"></div>
									    </div>
									    <div id="upload_va" class="tab-pane">
									    	<div class="col-lg-10">
												<div class="custom-file">
													<input accept=".mp4,.mp3,.avi" type="file" class="custom-file-input media" id="campaign_media_Video/Audio" name="campaign_media_Video/Audio">
													<label class="custom-file-label" for="campaign_media_Video/Audio">Choose Video / Audio</label>
												</div>
											</div>
											<div id="ErrorVideoAudioSize"></div>
									    </div>
									    <div id="upload_doc" class="tab-pane">
									    	<div class="col-lg-10">
												<div class="custom-file">
													<input accept=".docs,.docx,.pptx,.ppt,.pdf,.xlsx,.csv" type="file" class="custom-file-input media" id="campaign_media_Document" name="campaign_media_Document">
													<label class="custom-file-label" for="campaign_media_Document">Choose Document</label>
												</div>
											</div>
											<div id="ErrorDocumentSize"></div>
									    </div>
									    <div id="upload_text" class="tab-pane">
											<textarea id="campaign_media_Text" name="campaign_media_Text" rows="10" cols="80">
												Type Your Message Here
											</textarea>
									    </div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- Step 4 -->
					<h6>Contact Target List</h6>
					<section>
						<div class="row">
							<div style="width: -webkit-fill-available;" id="ErrordivTargetList"></div>
							<div id="TargetGroupManual" style="margin-right: auto;margin-left: auto;margin-top: 20px;text-align: center;margin-bottom: 20px !important;">
								<div  type="button" class="btn btn-primary btn-round ml-auto mb-3" data-toggle="modal" data-target="#upload_farmers"><i class="fa fa-upload"></i> Import Contacts</div>
    							<p>NOTE: All contacts will be validted against IDNo of the one in the database. If contact Not present in the database, new contact with details will be added</p>
							</div>
							<div class="form-group" id="TargetGroupTag" style="margin-right: auto;margin-left: auto;margin-top: 20px;text-align: center;margin-bottom: 20px !important;">
								<label for="FarmerTags" style="font-size: large;font-weight: bold;">Include Contacts Containing</label>
								<input required name="TargetGroupTagType" type="radio" id="TargetGroupTagAll" value="all">
								<label for="TargetGroupTagAll" class="block">All of them</label>
								<input required name="TargetGroupTagType" type="radio" id="TargetGroupTagAny" value="any">
								<label for="TargetGroupTagAny" class="block">Any of them</label>

								<input class="form-control" type="text" data-role="tagsinput" placeholder="add tags" id="FarmerTags" name="FarmerTags" />
							</div>
							<div class="col-12">
								<div class="box">
									<div class="box-body">
										<div class="table-responsive" id="loader_placer_farmer">
										<table id="farmers_all" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
											<thead>
												<tr>
													<th>Contact ID</th>
					                                <th>Name</th>
					                                <th>Mobile No</th>
					                                <th>National ID</th>
					                                <th>Geography</th>
					                                <th>Created By</th>
												</tr>
											</thead>
										</table>
										</div>              
									</div>
								</div>
							</div>
						</div>
					</section>
				</form>
			</div>
			<!-- /.box-body -->
		  </div>
		  <!-- /.box -->
		</section>
		<!-- Upload farmers template -->
		<div class="modal modal-right fade" id="upload_farmers" tabindex="-1">
		  	<div class="modal-dialog" style="height: unset;">
				<div class="modal-content">
				  	<div class="modal-header inline">
						<h5 class="modal-title">Upload Contacts</h5>
						<h6 class="box-subtitle">Excel Sheet Only</h6>
				  	</div>
				  	<div class="modal-body">
				  		<p>Make sure that the uploaded sheet follows the template. Contact not already in the lst will be added. Contacts will be verified based on the Identification Number</p>
						<div>
							<a href="{{url_for('farmer_bp.DownloadTemplate')}}" target="blank">
								<div class="btn btn-default ml-auto mb-3">
									<i class="fa fa-download"></i>
									Template
								</div>
							</a>
						</div>
						<form id="upload_farmer_form" action="" class="dropzone" method="post">
							<div class="fallback">
								<input accept=".csv,.xlx,.xlsx" id="upload_farmer_formdata" name="file" type="file" />
							</div>
							<div class="dz-default dz-message">
								<span>Drop / Upload Excel Sheet Here</span>
							</div>
						</form>
				  	</div>
				  	<div class="modal-footer modal-footer-uniform">
						<div type="button" class="btn btn-pure btn-secondary" data-dismiss="modal" >Close</div>
						<div  id="upload_farmer_button" data-dismiss="modal" class="btn btn-pure btn-primary float-right">Upload</div>
				  	</div>
				</div>
		  	</div>
		</div>
		<!-- /.content -->
	  </div>
  </div>
{% endblock %}

{% block scripts %}
	<!-- Bootstrap 4.0-->
	<script src="/static/assets/vendor_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<!-- SlimScroll -->
	<script src="/static/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	
	<!-- FastClick -->
	<script src="/static/assets/vendor_components/fastclick/lib/fastclick.js"></script>
	
	<!-- UltimatePro Admin App -->
	<script src="/static/js/template.js"></script>
	
	<!-- steps  -->
	<script src="/static/js/campaign/jquery.steps.js"></script>
   
   <!-- validate  -->
    <script src="/static/assets/vendor_components/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
	
	<!-- Sweet-Alert  -->
    <script src="/static/assets/vendor_components/sweetalert/sweetalert.min.js"></script>
    <!-- wizard  -->
    <script src="/static/js/campaign/steps.js"></script>

    <script src="/static/assets/vendor_components/datatable/datatables.js"></script>
	
	<script src="/static/assets/vendor_components/ckeditor/ckeditor.js"></script>
	<script src="/static/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js"></script>
	<!-- UltimatePro Admin for editor -->
	<script src="/static/js/campaign/editor.js"></script>
	<script src="/static/assets/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>

	<script type="text/javascript">
			var campid = {{ campid}};
	</script>
    <script src="/static/js/campaign/main_CampaignNew.js"></script>
	
{% endblock %}