{% extends 'base.html' %}
	
{% block styles %}
	<link rel="stylesheet" href="/static/assets/vendor_components/bootstrap/dist/css/bootstrap.css">
	
    <!-- c3 CSS -->
    <link rel="stylesheet" type="text/css" href="/static/assets/vendor_components/c3/c3.min.css">
	
	<!-- weather weather -->
	<link rel="stylesheet" href="/static/assets/vendor_components/weather-icons/weather-icons.css">
	
	<!-- daterange picker -->	
	<link rel="stylesheet" href="/static/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.css">
	
	<!-- Morris charts -->
	<link rel="stylesheet" href="/static/assets/vendor_components/morris.js/morris.css">
	
	<!-- Bootstrap extend-->
	<link rel="stylesheet" href="/static/css/bootstrap-extend.css">
	
	<!-- theme style -->
	<link rel="stylesheet" href="/static/css/master_style.css">
	
	<!-- UltimatePro Admin skins -->
	<link rel="stylesheet" href="/static/css/skins/_all-skins.css">

{% endblock %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container">
		<!-- Main content -->
		<section class="content">
			<div class="row">
				
				<div class="col-xl-8 col-12">
					<div class="row">
						<div class="col-12">
							<div class="box">
								<div class="box-header">
									<h4 class="box-title">No. of Activities</h4>
									<p class="subtitle mb-0">Overview of Last 30 days</p>
								</div>
								<div class="box-body analytics-info">
									<div id="basic-bar" style="height:450px;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-xl-4 col-12">
					<div class="box">
						<div class="box-header with-border">
							<h5 class="box-title">Requests Per Channel</h5>
							
						</div>

						<div class="box-body">
							<div class="text-center py-20">
								<div class="donut" data-peity='{ "fill": ["#ff4c52", "#faa700", "#3e8ef7"], "radius": 78, "innerRadius": 58  }' id="countrequest">9,6,5</div>
							</div>

							<ul class="list-inline" id="requestchannel">
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-12">
					<div class="box">
						<div class="box-body">
							<div class="d-flex flex-row">
								<!--<div class=""><img src="../images/avatar/1.jpg" alt="user" class="rounded-circle" width="100"></div>-->
								<div class="pl-20">
									<h3>User Table</h3>
									<h6>Latest Conversation</h6>
									<table class="table table-striped">
										<thead>
											<tr>
												<th>S.No</th>
												<th>First Name</th>
												<!--<th>Last Name</th>-->
												<th>Channel</th>
											</tr>
										</thead>
										<tbody id="person">
										</tbody>
									</table>
									<!--<button class="btn btn-success"><i class="ti-plus"></i> Follow</button>-->
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="col-12 col-xl-4">
					<div>
							<!-- Basic bar chart -->
							<div class="box">
								<div class="box-body">
									<div class="d-flex">
										<h3 class="font-weight-600 mb-0" id="noofuserscount">0</h3>
										<!--<span class="badge badge-info badge-pill align-self-center ml-auto">+55,6%</span>-->
									</div>

									<div>
										No. of Users
										<!--<div class="text-muted font-size-16">845 avg</div>-->
									</div>
								</div>

								<div class="container-fluid">
									<div id="chart_bar_basic" class="mt-10"></div>
								</div>
							</div>
							<!-- /basic bar chart -->
					</div>					
				</div>
				<div class="col-12 col-xl-4">
					<div class="box">
						<div class="box-header no-border">
							<h4 class="box-title">Average Duration in Dialog</h4>
							
						</div>

						<div class="box-body pt-0">
							<!--<h1 class="font-weight-600">$45,215.22</h1>-->
							<!--<p>17.10% ($954.23) <i class="fa fa-arrow-up text-success ml-10"></i></p>-->

							<div id="baralc" class="text-center py-20 bb-1"></div>
							<p class="mb-0 pt-20">Highest Duration</p>
							<h1 class="font-weight-500 font-size-20 text-info" id="highestduration"></h1>
							<!--<button type="button" class="btn btn-success mb-5">Check Whole Report</button>-->

						</div>
					</div>
				</div>
                <div class="col-12">
                    <div class="box">
                        <div class="box-header">
                            <h4 class="box-title">No. of Hits per Dialog</h4>
                           
                        </div>
                        <div class="box-body analytics-info">
                            <div id="hits" style="height:450px;"></div>
                        </div>
                    </div>
                </div>
				<div class="col-12">
					<div class="box">
						<div class="box-header">
							<h4 class="box-title">Dependencies</h4>
							<p class="subtitle mb-0">Overview of Last 30 days</p>
						</div>
						<div class="box-body analytics-info">
							<div id="dependencies" style="height:450px;"></div>
						</div>
					</div>
				</div>

			</div>
			
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block scripts %}
	<script src="/static/assets/vendor_components/jquery-ui/jquery-ui.js"></script>
	
	<!-- popper -->
	<script src="/static/assets/vendor_components/popper/dist/popper.min.js"></script>
	
	<!-- Bootstrap 4.0-->
	<script src="/static/assets/vendor_components/bootstrap/dist/js/bootstrap.js"></script>	
	
	<!-- date-range-picker -->
	<script src="/static/assets/vendor_components/moment/min/moment.min.js"></script>
	<script src="/static/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js"></script>
	
	<!-- Slimscroll -->
	<script src="/static/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js"></script>
	
	<!-- FastClick -->
	<script src="/static/assets/vendor_components/fastclick/lib/fastclick.js"></script>
	
	<!-- Sparkline -->
	<script src="/static/assets/vendor_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
	
	<!-- Morris.js charts -->
	<script src="/static/assets/vendor_components/raphael/raphael.min.js"></script>
	<script src="/static/assets/vendor_components/morris.js/morris.min.js"></script>
	
	<!-- peity -->
	<script src="/static/assets/vendor_components/jquery.peity/jquery.peity.js"></script>
	
	<!-- weather for demo purposes -->
	<script src="/static/assets/vendor_plugins/weather-icons/WeatherIcon.js"></script>
	<script src="/static/js/pages/weather.js"></script>
	
	<!-- Chart -->
	<script src="/static/assets/vendor_components/chart.js-master/Chart.min.js"></script>
	
	<!-- d3 -->
	<script src="/static/assets/vendor_components/d3/d3.min.js"></script>
	<script src="/static/assets/vendor_components/d3/d3_tooltip.js"></script>
	
    <!-- eChart Plugins -->
    <script src="/static/assets/vendor_components/echarts/dist/echarts-en.min.js"></script>
	
	<!-- UltimatePro Admin App -->
	<script src="/static/js/template.js"></script>
	
	<!-- UltimatePro Admin dashboard demo (This is only for demo purposes) -->
	<!-- <script src="/static/js/pages/dashboard.js"></script> -->
	<script src="/static/js/dashboard/bot_analytics.js"></script>
{% endblock %}