{% extends 'base.html' %}
	
{% block styles %}
	<link rel="stylesheet" href="/static/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css">
	
	<!-- Data Table-->
	<link rel="stylesheet" type="text/css" href="/static/assets/vendor_components/datatable/datatables.min.css"/>
	
	<!-- Bootstrap extend-->
	<link rel="stylesheet" href="/static/css/bootstrap-extend.css">

	<!-- Theme style -->
	<link rel="stylesheet" href="/static/css/master_style.css">

	<!-- UltimatePro Admin skins -->
	<link rel="stylesheet" href="/static/css/skins/_all-skins.css">
{% endblock %}

{% block content %}
  <div class="content-wrapper">
	  <div class="container">
		<!-- Content Header (Page header) -->
	

		<!-- Main content -->
		<section class="content">
		  <div class="row">
			  
		

		

			<div class="col-12">

		
			  <!-- /.box -->

			  <div class="box">
				<div class="box-header with-border">
				  <h3 class="box-title">Contact Channels Mapping</h3>
				  <h6 class="box-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
				</div>
				<!-- /.box-header -->
				<div class="box-body" id="loader_placer">
					<div class="table-responsive">
					  <table id="channels_table" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
						<thead>
                            <tr>
                                <th>Contact Channel ID</th>
                                <th>Contact Name</th>
                                <th>Channel</th>
                                <th>Status</th>
                            </tr>
						</thead>
					</table>
					</div>              
				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->          
			</div>
			<!-- /.col -->
		  </div>
		  <!-- /.row -->
		</section>
		<!-- /.content -->
	  
	  </div>
  </div>
{% endblock %}

{% block scripts %}
	<script src="/static/assets/vendor_components/popper/dist/popper.min.js"></script>
	
	<!-- Bootstrap 4.0-->
	<script src="/static/assets/vendor_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<!-- SlimScroll -->
	<script src="/static/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	
	<!-- FastClick -->
	<script src="/static/assets/vendor_components/fastclick/lib/fastclick.js"></script>
	
	<!-- UltimatePro Admin App -->
	<script src="/static/js/template.js"></script>
	
	<!-- UltimatePro Admin for demo purposes -->
	<script src="/static/js/demo.js"></script>

	<script src="/static/js/farmers/main_channels.js"></script>
	
	<!-- This is data table -->
    <script src="/static/assets/vendor_components/datatable/datatables.min.js"></script>
	
	<!-- UltimatePro Admin for Data Table -->
	
{% endblock %}